<!DOCTYPE html>
<html>
<head>
  <title>GeolocationDemo</title>
  <% if Rails.env.test? %>
    <%= tag.meta id: :fake_position, content: fake_location %>
  <% end %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBPpYLyqAKFmeBtAJvRUhcukDr0qZ8lyUc', 'data-turbolinks-track' => 'reload'%>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js', 'data-turbolinks-track' => 'reload'%>

</head>

<%= tag.body data: {geocoded: (@geocoded ? @geocoded : false), env: Rails.env} do %>
  <%= yield %>
<% end %>

</html>
